Repository prakharrichhariya/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint, prettier --write

.lintstagedrc:

{
	"**/*.{js,jsx,ts,tsx}": "yarn run eslint",
	"**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

navbar and intial components
  .eslintrc
  package-lock.json
  package.json
  src/App.js
  src/App.tsx
  src/Assets/Projects/blog.png
  src/Assets/Projects/chatify.png
  src/Assets/Projects/codeEditor.png
  src/Assets/Projects/emotion.png
  src/Assets/Projects/leaf.png
  src/Assets/Projects/suicide.png
  src/Assets/Soumyajit_Behera-BIT_MESRA.pdf
  src/Assets/about.png
  src/Assets/avatar.svg
  src/Assets/home-bg.jpg
  src/Assets/home-main.svg
  src/Assets/logo.png
  src/Assets/pre.svg
  src/components/Navbar.tsx
  src/components/Preloader.tsx
  src/components/ScrollToTop.tsx
  src/styles/style.css
Due: yarn run eslint, prettier --write

portfolio final changes
  .eslintrc
  package-lock.json
  package.json
  public/about.png
  public/avatar.svg
  public/home-main.svg
  src/App.tsx
  src/Assets/314e_corporation_logo.jpeg
  src/Assets/PR.svg
  src/Assets/Prakhar_Richhariya_Resume.pdf
  src/Assets/Projects/blog.png
  src/Assets/Projects/chatify.png
  src/Assets/Projects/codeEditor.png
  src/Assets/Projects/emotion.png
  src/Assets/Projects/leaf.png
  src/Assets/Projects/smapp.png
  src/Assets/Projects/suicide.png
  src/Assets/Projects/travelapp.png
  src/Assets/Soumyajit_Behera-BIT_MESRA.pdf
  src/Assets/expressrcm_logo.jpeg
  src/Assets/logo.png
  src/Assets/workEx.png
  src/components/About/About.tsx
  src/components/About/AboutCard.tsx
  src/components/Experience/Experience.tsx
  src/components/Experience/ExperienceCard.tsx
  src/components/Footer.tsx
  src/components/Home/Home.tsx
  src/components/Home/Home2.tsx
  src/components/Home/TypewriterEffect.tsx
  src/components/Navbar.tsx
  src/components/Particle.tsx
  src/components/PersonalLogo.tsx
  src/components/Projects/ProjectCards.tsx
  src/components/Projects/Projects.tsx
  src/components/Resume/ResumeNew.tsx
  src/components/app.tsx
  src/index.css
  src/styles/style.css
  src/typings/app.d.ts
Due: yarn run eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

updated website description
  public/index.html
Due: none

scroll fix
  src/App.css
  src/App.test.js
  src/App.tsx
  src/setupTests.js
  src/styles/style.css
Due: yarn run eslint, prettier --write

about section fix
  src/components/About/AboutCard.tsx
  src/styles/style.css
Due: yarn run eslint, prettier --write

styling fixes
  src/components/Home/Home.tsx
  src/components/Projects/ProjectCards.tsx
  src/styles/style.css
Due: yarn run eslint, prettier --write

resume download button style change
  src/components/Resume/ResumeNew.tsx
  src/styles/style.css
Due: yarn run eslint, prettier --write

height fixes
  src/styles/style.css
Due: none

fixed navbar logo
  src/components/Navbar.tsx
Due: yarn run eslint, prettier --write
